<h1 class='page-header'>Homework</h1>

<table class="table table-striped table-hover table-bordered">

	<thead>
		<tr>
			<th>Homework</th>
			<th>Due Date</th>
			<th>Status</th>
		</tr>
	</thead>

	<tbody>
		<% @assigned_homeworks.each do |assigned_homework| %>
			<% passed = assigned_homework.homework.due_date < Time.now %>
			<tr>
				<% if !passed %>
					<td><%= link_to assigned_homework.homework.subject, homeworks_answer_path(assigned_homework.homework.id) %></td>
					<td><%= assigned_homework.homework.due_date.localtime.strftime('%m/%d/%Y') %></td>
					<td><label class='label label-success'>Open</label></td>
				<% else %>
					<td><%= assigned_homework.homework.subject %></td>
					<td><%= assigned_homework.homework.due_date.localtime.strftime('%m/%d/%Y') %></td>
					<td><label class='label label-danger'>Closed</label></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>